@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Black.eot");
  src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.ttf") format("truetype"), url("fonts/Montserrat-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.eot");
  src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.eot");
  src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Light.eot");
  src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.ttf") format("truetype"), url("fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

::selection {
  background: #FFF498;
}

::-moz-selection {
  background: #FFF498;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #FFF498;
}

body {
  background-color: #0c0c0c;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.l-viewport {
  position: relative;
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.85);
  overflow: hidden;
}

.l-wrapper {
  position: relative;
  width: 1440px;
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
}

.l-side-nav {
  position: absolute;
  left: 0;
  display: flex;
  height: 100%;
  align-items: center;
}
.l-side-nav::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 70%;
  max-height: 750px;
  background-color: #555;
  opacity: 0.35;
  z-index: 10;
}
@media (max-width: 1180px) {
  .l-side-nav {
    display: none;
  }
}

.l-main-content {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.l-section {
  position: absolute;
  width: 100%;
  height: 100%;
}

.device-notification {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0c0c0c;
  z-index: 12;
}
.device-notification--logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.device-notification--logo p {
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.device-notification--message {
  width: 70%;
  margin: 30px 0 0 0;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 767px) and (min-width: 601px) and (max-height: 680px) {
  .device-notification {
    display: flex;
  }
}
@media (max-width: 600px) and (min-width: 480px) and (max-height: 580px) {
  .device-notification {
    display: flex;
  }
}
@media (max-width: 736px) and (min-width: 360px) and (orientation: landscape) {
  .device-notification {
    display: flex;
  }
}
@media (max-width: 359px) {
  .device-notification {
    display: flex;
  }
}

.section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
}
.section--is-active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  transition: opacity 0.4s ease-in-out 0.4s;
}
.section--next {
  transform: translateY(-45px);
  transition: transform 0.4s ease-in-out;
}
.section--prev {
  transform: translateY(45px);
  transition: transform 0.4s ease-in-out;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
.header--logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.header--logo p {
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.header--nav-toggle {
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header--nav-toggle span, .header--nav-toggle::before, .header--nav-toggle::after {
  content: "";
  position: relative;
  width: 16px;
  height: 2px;
  background-color: #fff;
}
.header--nav-toggle::before {
  bottom: 5px;
  width: 23px;
}
.header--nav-toggle::after {
  top: 5px;
  width: 23px;
}
.header--cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fe0f5e;
  border: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
}
.header--cta:focus {
  outline: none;
}
.header--cta.is-active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-in-out 0.4s;
}
@media (max-width: 767px) {
  .header--cta {
    display: none;
  }
}

.side-nav {
  position: relative;
  display: flex;
  width: 100px;
  height: 70%;
  max-height: 750px;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-position: inside;
  z-index: 10;
}
.side-nav > li {
  position: relative;
  top: -5px;
  color: #fe0f5e;
  font-size: 6px;
  cursor: pointer;
}
.side-nav > li span {
  position: relative;
  top: 3px;
  left: 10px;
  color: #fe0f5e;
  font-size: 14px;
  font-weight: 300;
  opacity: 0;
  visibility: hidden;
}
.side-nav > li::before {
  position: absolute;
  top: 3px;
  left: 10px;
  color: #555;
  font-size: 14px;
  font-weight: 300;
}
.side-nav li:nth-child(1)::before {
  content: "Home";
}
.side-nav li:nth-child(2)::before {
  content: "Works";
}
.side-nav li:nth-child(3)::before {
  content: "About";
}
.side-nav li:nth-child(4)::before {
  content: "Contact";
}
.side-nav li.is-active {
  color: #fe0f5e;
  transition: color 0.4s ease-in-out;
}
.side-nav li.is-active span {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-in-out;
}
.side-nav li.is-active::before {
  left: -33px;
  color: #fff;
  display: none;
}

@media (max-width: 1180px) {
  .intro {
    max-width: 100%;
  }
}
.intro--banner {
  position: relative;
  height: 475px;
}
.intro--banner::before {
  display: none;
  content: "";
  position: absolute;
  bottom: 20px;
  left: -15px;
  right: 0;
  height: 2px;
  background-color: #282828;
}
.intro--banner::after {
  content: "";
  position: absolute;
  bottom: 18px;
  display: none;
  left: 0;
  width: 30px;
  height: 4px;
  background-color: #4f7788;
}
.intro--banner h1 {
  position: relative;
  font-size: 68px;
  color: #fe0f5e;
  top: 33px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  margin-left: -23%;
  z-index: 1;
}
.intro--banner p {
  position: relative;
  width: 43%;
  font-size: 19px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  margin-top: 20%;
  margin-left: 15%;
  z-index: 1;
}
.intro--banner button {
  position: relative;
  padding: 5px 17px 5px 12px;
  font-weight: 700;
  margin-top: 85px;
  right: -15%;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}
.intro--banner button .btn-background {
  position: absolute;
  border-radius: 50px;
  top: 0;
  left: 23px;
  right: 0;
  height: 100%;
  background-color: #fe0f5e;
  z-index: -1;
  transition: left 0.2s ease-in-out;
}
.intro--banner button:hover .btn-background {
  left: 0;
}
.intro--banner button:focus {
  outline: none;
}
.intro--banner button svg {
  position: relative;
  left: 5px;
  width: 15px;
  fill: #fff;
}
.intro--banner img {
  position: absolute;
  bottom: -51px;
  right: -12px;
  width: 30%;
  border-radius: 0 0 50px 50px;
}
.intro--options {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.intro--options > a {
  max-width: 250px;
  text-decoration: none;
  color: #282828;
  transition: color 0.2s ease-in-out;
}
.intro--options > a:hover {
  color: #fff;
}
.intro--options h3 {
  font-size: 16px;
  text-transform: uppercase;
}
.intro--options p {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .intro--banner {
    margin: 25% 0 0 0;
  }
  .intro p {
    width: 49%;
    font-size: 22px;
    margin-top: 9%;
  }
  .intro img {
    width: 50%;
  }
}
@media (max-width: 900px) {
  .intro--banner {
    height: 380px;
    margin: 40% 0 0 0;
    position: relative;
    display: block;
  }
  .intro--banner h1 {
    font-size: 55px;
  }
  .intro--banner img {
    width: 300px;
  }
  .intro--options > a {
    margin-right: 30px;
  }
  .intro--options > a:last-child {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .intro--banner {
    height: 305px;
    display: grid;
    margin: 50% auto;
  }
  .intro--banner h1 {
    font-size: 44px;
  }
  .intro--banner img {
    width: 330px;
  }
  .intro--banner .cta {
    right: initial;
  }
  .intro--options {
    display: block;
  }
  .intro--options > a {
    display: block;
    max-width: 100%;
    margin: 0 0 30px 0;
  }
  .intro--options > a:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  .intro--banner {
    height: 360px;
  }
  .intro--banner h1 {
    font-size: 40px;
    margin-left: 0;
    top: 20px;
  }
  .intro--banner p {
    width: 100%;
    font-size: 17px;
    margin-top: 9%;
    margin-left: 0;
  }
  .intro--banner img {
    display: none;
  }
}
@media (max-width: 600px) and (max-height: 750px) {
  .intro--banner {
    height: auto;
  }
  .intro--banner::before, .intro--banner::after {
    display: none;
  }
  .intro--banner h1 {
    margin-top: 0;
  }
  .intro--options {
    display: none;
  }
}
.work {
  position: relative;
  display: flex;
  width: 960px;
  max-width: 80%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 1180px) {
  .work {
    max-width: 100%;
  }
}
.work h2 {
  margin: 0 0 20px 0;
  font-size: 30px;
  text-align: center;
  color: #fe0f5e;
}
.work--lockup {
  position: relative;
}
.work--lockup .slider {
  position: relative;
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.work--lockup .slider--item {
  position: absolute;
  display: none;
  text-align: center;
}
.work--lockup .slider--item a {
  text-decoration: none;
  color: #858585;
}
.work--lockup .slider--item-title {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.work--lockup .slider--item-description {
  display: none;
  max-width: 250px;
  margin: 0 auto;
}
.work--lockup .slider--item-image {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.work--lockup .slider--item-image img {
  width: 100%;
}
.work--lockup .slider--item-left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
}
.work--lockup .slider--item-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
}
.work--lockup .slider--item-center {
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
.work--lockup .slider--item-center a {
  color: #fff;
}
.work--lockup .slider--item-center .slider--item-title {
  margin-top: 25px;
  font-size: 16px;
  color: #fe0f5e;
}
.work--lockup .slider--item-center .slider--item-description {
  display: block;
  font-weight: 900;
}
.work--lockup .slider--item-center .slider--item-image {
  width: 300px;
  height: 300px;
}
.work--lockup .slider--next,
.work--lockup .slider--prev {
  position: absolute;
  top: 160px;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  border-radius: 50%;
  cursor: pointer;
}
.work--lockup .slider--next svg,
.work--lockup .slider--prev svg {
  width: 20px;
  fill: #fff;
}
.work--lockup .slider--next {
  right: 0;
}
.work--lockup .slider--prev {
  left: 0;
}

@media (max-width: 900px) {
  .work--lockup .slider--item-image {
    width: 120px;
    height: 120px;
  }
  .work--lockup .slider--item-center .slider--item-image {
    width: 240px;
    height: 240px;
  }
  .work--lockup .slider--next,
.work--lockup .slider--prev {
    top: 130px;
  }
}
@media (max-width: 767px) {
  .work--lockup .slider {
    width: 75%;
  }
  .work--lockup .slider--item-image {
    width: 90px;
    height: 90px;
  }
  .work--lockup .slider--item-center .slider--item-image {
    width: 190px;
    height: 190px;
  }
  .work--lockup .slider--next,
.work--lockup .slider--prev {
    top: 105px;
  }
}
@media (max-width: 600px) {
  .work--lockup .slider {
    width: auto;
  }
  .work--lockup .slider--item-left, .work--lockup .slider--item-right {
    display: none;
  }
}
.about {
  position: relative;
  display: flex;
  width: 900px;
  max-width: 75%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.about p {
  font-size: 20px;
  width: 27%;
  z-index: 9999;
  position: relative;
  color: #fe0f5e;
}
@media (max-width: 1180px) {
  .about {
    max-width: 100%;
  }
}
.about--banner {
  position: relative;
  height: 475px;
  height: 475px;
  top: 0;
  width: 100%;
  float: right;
}
.about--banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 200px;
  transform: rotate(-25deg);
  border: 5px solid #fff;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.about--banner::after {
  content: "";
  position: absolute;
  top: 75px;
  left: 110px;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: #fff;
}
.about--banner h2 {
  position: relative;
  margin-top: 35px;
  font-size: 35px;
  font-weight: 900;
  line-height: 1;
  color: #fe0f5e;
  z-index: 1;
}
.about--banner h2::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 210px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
}
.about--banner h2::after {
  content: "";
  position: absolute;
  top: 255px;
  left: 255px;
  width: 10px;
  height: 10px;
  background-color: #fff;
}
.about--banner a {
  padding: 5px 17px 5px 0;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
}
.about--banner a:hover svg {
  left: 10px;
}
.about--banner a svg {
  position: relative;
  left: 5px;
  width: 15px;
  fill: #fff;
  transition: left 0.2s ease-in-out;
}
.about--options {
  display: flex;
  max-width: 600px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.about--options > a {
  position: relative;
  width: 150px;
  height: 75px;
  text-decoration: none;
  color: #fff;
  border: 10px solid #4f7788;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about--options > a:nth-child(1) {
  background-image: url("../img/about-winners.jpg");
}
.about--options > a:nth-child(2) {
  background-image: url("../img/about-philosophy.jpg");
}
.about--options > a:nth-child(3) {
  background-image: url("../img/about-history.jpg");
}
.about--options > a:hover h3 {
  bottom: -50px;
}
.about--options h3 {
  position: absolute;
  bottom: -38px;
  left: 10px;
  font-size: 16px;
  text-transform: uppercase;
  transition: bottom 0.2s ease-in-out, left 0.2s ease-in-out;
}

@media (max-width: 767px) {
  .about--banner {
    height: 305px;
    top: -120px;
  }
  .about--banner::before {
    top: 0;
    left: 125px;
  }
  .about--banner::after {
    top: 35px;
    left: 260px;
  }
  .about--banner h2 {
    margin-top: 10px;
    font-size: 44px;
  }
  .about--banner h2::before {
    top: 28px;
    left: 168px;
  }
  .about--banner h2::after {
    top: 163px;
    left: 163px;
  }
  .about--banner img {
    width: 315px;
  }
}
@media (max-width: 600px) {
  .about--banner {
    height: auto;
  }
  .about--banner::before {
    left: 155px;
  }
  .about--banner::after {
    left: 310px;
  }
  .about--banner h2 {
    margin-top: 0;
    font-size: 55px;
  }
  .about--banner h2::before {
    top: 43px;
    left: 214px;
  }
  .about--banner h2::after {
    top: 117px;
    left: 205px;
  }
  .about--banner p {
    width: 90%;
  }
  .about--banner img {
    position: absolute !important;
    top: 180px !important;
    right: 50px !important;
  }
  .about--options {
    display: none;
  }
}
.contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/contact-visual.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact img {
  width: 68%;
  position: absolute;
  left: 3%;
  top: 18%;
}
.contact--lockup {
  position: relative;
  display: flex;
  width: 900px;
  max-width: 75%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
}
@media (max-width: 1180px) {
  .contact--lockup {
    max-width: 90%;
  }
}
@media (max-width: 767px) {
  .contact--lockup {
    justify-content: center;
  }
}
.contact--lockup .contact {
  position: fixed;
}
.contact--lockup .contact img {
  display: none;
}
.contact--lockup .modal {
  padding: 45px 45px;
  text-align: center;
  background-color: #0c0c0c;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.75);
}
.contact--lockup .modal--information p,
.contact--lockup .modal--information a {
  display: block;
  margin: 14px 0;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.contact--lockup .modal--information p {
  margin-top: 0;
}
.contact--lockup .modal--options {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact--lockup .modal--options > li {
  width: 130px;
  margin: 0 auto 25px auto;
}
.contact--lockup .modal--options li:nth-child(1) {
  background-color: #0E76A8;
}
.contact--lockup .modal--options li:nth-child(2) {
  background-color: #ea4c89;
}
.contact--lockup .modal--options li:nth-child(3) {
  margin-bottom: 0;
  background-color: #4f7788;
  text-transform: uppercase;
}
.contact--lockup .modal--options a {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.hire {
  position: relative;
  display: flex;
  width: 700px;
  max-width: 75%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 1180px) {
  .hire {
    max-width: 100%;
  }
}
.hire h2 {
  margin: 0 0 20px 0;
  font-size: 30px;
  text-align: center;
}

.work-request {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.work-request input[type=submit] {
  width: 400px;
  max-width: 100%;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #4f7788;
  border: none;
  border-radius: 0;
}
.work-request input[type=submit]:focus {
  outline: none;
}
.work-request--options {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.work-request--options .options-a {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.work-request--options .options-b {
  display: flex;
  width: 72%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.work-request--options label {
  display: block;
  width: 200px;
  margin-bottom: 30px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border: 2px solid #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.work-request--options label svg {
  position: relative;
  left: -5px;
  width: 0;
  fill: #fff;
  transition: width 0.2s ease-in-out;
}
.work-request--options input[type=checkbox] {
  display: none;
}
.work-request--options input[type=checkbox]:checked + label {
  background-color: #4f7788;
  border-color: #4f7788;
}
.work-request--options input[type=checkbox]:checked + label svg {
  width: 15px;
}
.work-request--information {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 60px;
}
.work-request--information .information-name,
.work-request--information .information-email {
  position: relative;
  width: 45%;
  height: 50px;
  font-size: 30px;
  font-weight: 300;
}
.work-request--information input[type=text],
.work-request--information input[type=email] {
  width: 100%;
  padding: 0 0 5px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
}
.work-request--information input[type=text]:focus,
.work-request--information input[type=email]:focus {
  outline: none;
  background-color: #0c0c0c;
}
.work-request--information label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}
.work-request--information input:focus + label,
.work-request--information input.has-value + label {
  top: -15px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .work-request--options {
    flex-direction: row;
    justify-content: space-around;
  }
  .work-request--options .options-a,
.work-request--options .options-b {
    display: block;
    width: auto;
  }
}
@media (max-width: 600px) {
  .work-request--options {
    margin: 20px 0;
  }
}
@media (max-width: 600px) and (max-width: 415px) {
  .work-request--options {
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .work-request--options label {
    width: 150px;
    margin-bottom: 15px;
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .work-request--options input[type=checkbox]:checked + label svg {
    width: 12px;
  }
}
@media (max-width: 600px) {
  .work-request--information {
    margin-bottom: 30px;
  }
  .work-request--information .information-name,
.work-request--information .information-email {
    height: 40px;
    font-size: 24px;
  }
}
.perspective {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.perspective--modalview {
  position: fixed;
  perspective: 1500px;
}

.container {
  position: relative;
  transform: translateZ(0) translateX(0) rotateY(0deg);
  min-height: 100%;
  outline: 30px solid #fe0f5e;
  transition: transform 0.4s;
}

.modalview .container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
}

.effect-rotate-left .container {
  transform-origin: 0% 50%;
  transition: transform 0.4s;
}
.effect-rotate-left--animate .container {
  transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
  outline: 30px solid #fe0f5e;
}

.outer-nav {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  visibility: hidden;
  transition: visibility 0s 0.2s;
}
.outer-nav.is-vis {
  visibility: visible;
}
.outer-nav--return {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  cursor: pointer;
  z-index: 11;
}
.outer-nav--return.is-vis {
  display: block;
}
.outer-nav > li {
  transform-style: preserve-3d;
  transform: translateX(350px) translateZ(-1000px);
  font-size: 55px;
  font-weight: 900;
  opacity: 0;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}
.outer-nav > li.is-vis {
  transform: translateX(0) translateZ(0);
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s;
}
.outer-nav > li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 110%;
  height: 15px;
  opacity: 0;
  background-color: #fe0f5e;
}
.outer-nav > li.is-active::before {
  opacity: 1;
}
@media (max-width: 767px) {
  .outer-nav > li {
    font-size: 44px;
  }
}
@media (max-width: 600px) {
  .outer-nav > li {
    font-size: 34px;
  }
}
.outer-nav li.is-vis:nth-child(2) {
  transition-delay: 0.04s;
}
.outer-nav li.is-vis:nth-child(3) {
  transition-delay: 0.08s;
}
.outer-nav li.is-vis:nth-child(4) {
  transition-delay: 0.12s;
}
.outer-nav li.is-vis:nth-child(5) {
  transition-delay: 0.16s;
}

.glitch {
  position: relative;
  display: inline-block;
}

.glitch::before,
.glitch::after {
  content: attr(data-scrabble-val);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip: rect(0, 100px, 0, 0);
  overflow: hidden;
  /* important: opaque background masks the original */
}

/* ABBERATION ================================== */
/* ABBERATION: RED ----------------------------- */
@keyframes glitch-anim-red {
  0% {
    clip: rect(37px, 9999px, 35px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-16deg);
  }
  5% {
    clip: rect(43px, 9999px, 11px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(1deg);
  }
  10% {
    clip: rect(8px, 9999px, 7px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-9deg);
  }
  15% {
    clip: rect(28px, 9999px, 12px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-35deg);
  }
  20% {
    clip: rect(29px, 9999px, 18px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-33deg);
  }
  25% {
    clip: rect(30px, 9999px, 8px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-16deg);
  }
  30% {
    clip: rect(41px, 9999px, 30px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-22deg);
  }
  35% {
    clip: rect(40px, 9999px, 45px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-5deg);
  }
  40% {
    clip: rect(22px, 9999px, 43px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-40deg);
  }
  45% {
    clip: rect(18px, 9999px, 2px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-17deg);
  }
  50% {
    clip: rect(28px, 9999px, 18px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-15deg);
  }
  55% {
    clip: rect(1px, 9999px, 32px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-29deg);
  }
  60% {
    clip: rect(2px, 9999px, 48px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-2deg);
  }
  65% {
    clip: rect(45px, 9999px, 34px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-16deg);
  }
  70% {
    clip: rect(25px, 9999px, 17px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-33deg);
  }
  75% {
    clip: rect(1px, 9999px, 46px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-15deg);
  }
  80% {
    clip: rect(9px, 9999px, 40px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-15deg);
  }
  85% {
    clip: rect(27px, 9999px, 2px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-30deg);
  }
  90% {
    clip: rect(37px, 9999px, 21px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-5deg);
  }
  95% {
    clip: rect(3px, 9999px, 36px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-22deg);
  }
  100% {
    clip: rect(19px, 9999px, 32px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-3deg);
  }
}
@keyframes glitch-anim-red-mobile {
  0% {
    clip: rect(3px, 9999px, 9px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-33deg);
  }
  5% {
    clip: rect(3px, 9999px, 13px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-5deg);
  }
  10% {
    clip: rect(1px, 9999px, 20px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-7deg);
  }
  15% {
    clip: rect(2px, 9999px, 16px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-30deg);
  }
  20% {
    clip: rect(4px, 9999px, 16px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(1deg);
  }
  25% {
    clip: rect(1px, 9999px, 20px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-23deg);
  }
  30% {
    clip: rect(1px, 9999px, 7px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-26deg);
  }
  35% {
    clip: rect(1px, 9999px, 7px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-16deg);
  }
  40% {
    clip: rect(1px, 9999px, 4px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(2deg);
  }
  45% {
    clip: rect(2px, 9999px, 1px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-12deg);
  }
  50% {
    clip: rect(5px, 9999px, 4px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-38deg);
  }
  55% {
    clip: rect(1px, 9999px, 13px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-19deg);
  }
  60% {
    clip: rect(5px, 9999px, 21px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-33deg);
  }
  65% {
    clip: rect(5px, 9999px, 13px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(0deg);
  }
  70% {
    clip: rect(3px, 9999px, 15px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-30deg);
  }
  75% {
    clip: rect(4px, 9999px, 18px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-3deg);
  }
  80% {
    clip: rect(4px, 9999px, 5px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-39deg);
  }
  85% {
    clip: rect(2px, 9999px, 14px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-3deg);
  }
  90% {
    clip: rect(4px, 9999px, 17px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-21deg);
  }
  95% {
    clip: rect(2px, 9999px, 1px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-33deg);
  }
  100% {
    clip: rect(1px, 9999px, 17px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-35deg);
  }
}
.glitch::before {
  left: 3px;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#F03005,direction=270,Strength=2);
  text-shadow: -1.5px 0 1px rgba(239, 47, 5, 0.92);
  animation: glitch-anim-red-mobile 1.5s infinite linear alternate-reverse;
}
@media (min-width: 768px) {
  .glitch::before {
    animation: glitch-anim-red 1.5s infinite linear alternate-reverse;
  }
}

/* ABBERATION: BLUE ---------------------------- */
@keyframes glitch-anim-blue {
  0% {
    clip: rect(55px, 9999px, 23px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-41deg);
  }
  5% {
    clip: rect(38px, 9999px, 6px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-6deg);
  }
  10% {
    clip: rect(12px, 9999px, 31px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-38deg);
  }
  15% {
    clip: rect(45px, 9999px, 40px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-36deg);
  }
  20% {
    clip: rect(15px, 9999px, 27px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-15deg);
  }
  25% {
    clip: rect(19px, 9999px, 43px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-33deg);
  }
  30% {
    clip: rect(3px, 9999px, 17px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-33deg);
  }
  35% {
    clip: rect(38px, 9999px, 22px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-16deg);
  }
  40% {
    clip: rect(7px, 9999px, 29px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-14deg);
  }
  45% {
    clip: rect(41px, 9999px, 42px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-29deg);
  }
  50% {
    clip: rect(14px, 9999px, 14px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-31deg);
  }
  55% {
    clip: rect(48px, 9999px, 54px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-10deg);
  }
  60% {
    clip: rect(26px, 9999px, 47px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-30deg);
  }
  65% {
    clip: rect(13px, 9999px, 33px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-13deg);
  }
  70% {
    clip: rect(12px, 9999px, 2px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-8deg);
  }
  75% {
    clip: rect(10px, 9999px, 17px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-28deg);
  }
  80% {
    clip: rect(23px, 9999px, 54px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-39deg);
  }
  85% {
    clip: rect(53px, 9999px, 39px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-16deg);
  }
  90% {
    clip: rect(27px, 9999px, 25px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-41deg);
  }
  95% {
    clip: rect(1px, 9999px, 44px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-34deg);
  }
  100% {
    clip: rect(7px, 9999px, 38px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-39deg);
  }
}
@keyframes glitch-anim-blue-mobile {
  0% {
    clip: rect(8px, 9999px, 7px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-41deg);
  }
  5% {
    clip: rect(1px, 9999px, 11px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-20deg);
  }
  10% {
    clip: rect(18px, 9999px, 35px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-6deg);
  }
  15% {
    clip: rect(18px, 9999px, 18px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-15deg);
  }
  20% {
    clip: rect(14px, 9999px, 2px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-14deg);
  }
  25% {
    clip: rect(26px, 9999px, 36px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-18deg);
  }
  30% {
    clip: rect(2px, 9999px, 26px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-21deg);
  }
  35% {
    clip: rect(15px, 9999px, 1px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-8deg);
  }
  40% {
    clip: rect(25px, 9999px, 30px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-30deg);
  }
  45% {
    clip: rect(11px, 9999px, 5px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-28deg);
  }
  50% {
    clip: rect(12px, 9999px, 23px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-7deg);
  }
  55% {
    clip: rect(7px, 9999px, 4px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-11deg);
  }
  60% {
    clip: rect(28px, 9999px, 21px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-17deg);
  }
  65% {
    clip: rect(3px, 9999px, 29px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-34deg);
  }
  70% {
    clip: rect(15px, 9999px, 3px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-20deg);
  }
  75% {
    clip: rect(13px, 9999px, 29px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-27deg);
  }
  80% {
    clip: rect(19px, 9999px, 32px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-37deg);
  }
  85% {
    clip: rect(21px, 9999px, 26px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-9deg);
  }
  90% {
    clip: rect(10px, 9999px, 4px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-31deg);
  }
  95% {
    clip: rect(3px, 9999px, 28px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-31deg);
  }
  100% {
    clip: rect(11px, 9999px, 28px, 0);
    /* Random Positive/Negative Number */
    transform: skewX(-12deg);
  }
}
.glitch::after {
  left: -3px;
  text-shadow: -1.65px 0 1px rgba(35, 191, 208, 0.9);
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#23BFD0,direction=270,Strength=2);
  animation: glitch-anim-blue-mobile 2s infinite linear alternate-reverse;
}
@media (min-width: 992px) {
  .glitch::after {
    animation: glitch-anim-blue 2s infinite linear alternate-reverse;
  }
}

/*# sourceMappingURL=output.css.map */
